@media only screen
	and (min-device-width: 1400px)
	and (max-device-width: 2000px) {
		.main__portfolio .main__title {
			padding-top: 156px;
		}
		.main__portfolio .main__subtitle {
			margin-left: 438px;
			margin-right: 438px;
		}
		.portfolio__rows {
			margin-top: 64px;
			background-color: #f1f2f5;
			margin-left: 394px;
			margin-right: 394px;
			margin-bottom: 40px;
		}
		.portfolio__images {
			display: flex;
			justify-content: center;
		}
		.portfolio__row {
			display: flex;
			
			row-gap: 20.5px;
			column-gap: 32px;
			justify-content: center;
			margin-right: 70px;
			margin-left: 70px;
		}
		.row__item:first-child {
			margin-left: 13.5px;
			margin-top: 16px;
			border-bottom: 4px solid #2084ff;
			padding-bottom: 16px;
		}
		.row__item:first-child .row__text {
			font-weight: bold;
		}
		.row__text {
			font-family: 'Open Sans', sans-serif;
			color: #313244;
		}
		.row__item:nth-child(2) {
			margin-top: 16px;
		}
		.row__item:nth-child(3) {
			margin-top: 16px;
		}
		.row__item:nth-child(4) {
			margin-right: 13.5px;
			margin-top: 16px;
		}
		.row__item:nth-child(5) {
			margin-bottom: 20.5px;
			margin-top: 16px;
		}
		.row__item:nth-child(6) {
			margin-bottom: 20.5px;
			margin-top: 16px;
		}
		.row__item:nth-child(7) {
			margin-bottom: 20.5px;
			margin-top: 16px;
		}
		.portfolio__img-tablet {
			display: none;
		}
		.portfolio__img  {
			display: none;
		}
		.portfolio__img-desktop {
			display: block;
			max-width: 1224px;
			height: 1224px;
		}
		.portfolio__btn {
			display: flex;
			justify-content: center;
			background-color: #e4e7ec;
			margin-left: 600.5px;
			margin-right: 600.5px;
			margin-top: 64px;
			padding-top: 14px;
			padding-bottom: 14px;
			text-decoration: none;
			border-radius: 5px;
		}
		.portfolio__btn .btn__text {
			font-size: 20px;
			width: 200px;
		}
		.main__item:nth-child(3) {
			padding-bottom: 156px;
		}
		/* -------------------------------------------TESTIMONIALS---------------------------- */
			.main__testimonials .main__title {
				padding-top: 156px;
				
			}
			.main__testimonials .card__title {
				margin-bottom: 10px;
				margin-top: 20px;
			}
			.main__testimonials .subtitle {
				line-height: 24px;
				margin-left: 400px;
				margin-right: 400px;
			}
			.main__testimonials .subtitle__text {
				
				font-family: 'Open Sans', sans-serif;
				color: #545569;
				font-weight: bold;
				
			}
			.main__testimonials .card__subtitle {
				margin-bottom: 15px;
				padding-left: 0px;
				padding-right: 0px;
				
			}
			.main__testimonials {
				
				display: flex;
				flex-direction: column;
				align-items: center;
				position: relative;
			}
			.card__img-container {
				padding-top: 30px;
				position: absolute;
				top: 285px;
			}
			.card__information {
				background-color: #f1f2f5;
				padding-right: 24px;
				padding-left: 24px;
				padding-bottom: 40px;
				padding-top: 80px;
				margin-top: -100px;
			}
			.testimonials__card {
				display: flex;
				flex-direction: row;
				align-items: center;
				column-gap: 24px;
				padding-top: 80px;
				margin-top: 125px;
				padding-bottom: 40px;
				margin-left: 507px;
				margin-right: 507px;
				justify-content: space-between;
			}
			
			.card__description .card__text {
				text-align: center;
				font-family: 'Open Sans', sans-serif;
				color: #545569;
				line-height: 24px;
				margin-left: 108px;
				margin-right: 108px;
			}
			.testimonials__list {
				display: flex;
				gap: 10px;
				
			}
			.list__item {
				width: 30px;
				height: 5px;
				background-color: #e4e7ec;
			}
			.list__item:nth-child(3) {
				
				background-color: #4791ec;
			}
			.main__item:nth-child(4) {
				padding-bottom: 32px;
				margin-bottom: 0px;
			}
			.main__item:nth-child(3) {
				margin-bottom: 32px;
			}
			.main__item:nth-child(4) {
				padding-bottom: 64px;
			}
			.card__information .card__title .title__text {
				font-size: 31.25px;
			}
			.card__description .card__text {
				font-size: 18px;
			}
}
@media only screen
	and (min-device-width: 1200px)
	and (max-device-width: 1399px) {
		.main__portfolio .main__title {
			padding-top: 78px;
		}
		.main__portfolio .main__subtitle {
			margin-left: 219px;
			margin-right: 219px;
		}
		.portfolio__rows {
			margin-top: 40px;
			background-color: #f1f2f5;
			margin-left: 137px;
			margin-right: 137px;
			margin-bottom: 40px;
		}
		.portfolio__images {
			display: flex;
			justify-content: center;
		}
		.portfolio__row {
			display: flex;
			
			row-gap: 20.5px;
			column-gap: 32px;
			justify-content: center;
			margin-right: 70px;
			margin-left: 70px;
		}
		.row__item:first-child {
			margin-left: 13.5px;
			margin-top: 16px;
			border-bottom: 4px solid #2084ff;
			padding-bottom: 16px;
		}
		.row__item:first-child .row__text {
			font-weight: bold;
		}
		.row__text {
			font-family: 'Open Sans', sans-serif;
			color: #313244;
		}
		.row__item:nth-child(2) {
			margin-top: 16px;
		}
		.row__item:nth-child(3) {
			margin-top: 16px;
		}
		.row__item:nth-child(4) {
			margin-right: 13.5px;
			margin-top: 16px;
		}
		.row__item:nth-child(5) {
			margin-bottom: 20.5px;
			margin-top: 16px;
		}
		.row__item:nth-child(6) {
			margin-bottom: 20.5px;
			margin-top: 16px;
		}
		.row__item:nth-child(7) {
			margin-bottom: 20.5px;
			margin-top: 16px;
		}
		.portfolio__img-tablet {
			display: none;
		}
		.portfolio__img  {
			display: none;
		}
		.portfolio__img-desktop {
			display: block;
			max-width: 900px;
			height: 900px;
		}
		.portfolio__btn {
			display: flex;
			justify-content: center;
			background-color: #e4e7ec;
			margin-left: 435px;
			margin-right: 435px;
			margin-top: 64px;
			padding-top: 14px;
			padding-bottom: 14px;
			text-decoration: none;
			border-radius: 5px;
		}
		.portfolio__btn .btn__text {
			font-size: 20px;
			
		}
		.main__item:nth-child(3) {
			padding-bottom: 64px;
		}
		/* -------------------------------------------TESTIMONIALS---------------------------- */
			.main__testimonials .main__title {
				padding-top: 64px;
				
			}
			.main__testimonials .card__title {
				margin-bottom: 10px;
				margin-top: 20px;
			}
			.main__testimonials .subtitle {
				line-height: 24px;
				margin-left: 219px;
				margin-right: 219px;
			}
			.main__testimonials .subtitle__text {
				
				font-family: 'Open Sans', sans-serif;
				color: #545569;
				font-weight: bold;
				
			}
			.main__testimonials .card__subtitle {
				margin-bottom: 15px;
				padding-left: 0px;
				padding-right: 0px;
				
			}
			.main__testimonials {
				
				display: flex;
				flex-direction: column;
				align-items: center;
				position: relative;
			}
			.card__img-container {
				padding-top: 30px;
				position: absolute;
				top: 200px;
			}
			.card__information {
				background-color: #f1f2f5;
				padding-right: 24px;
				padding-left: 24px;
				padding-bottom: 40px;
				padding-top: 80px;
				margin-top: -80px;
			}
			.testimonials__card {
				display: flex;
				flex-direction: row;
				align-items: center;
				column-gap: 24px;
				padding-top: 80px;
				margin-top: 125px;
				padding-bottom: 40px;
				margin-left: 64px;
				margin-right: 64px;
				justify-content: space-between;
			}
			
			.card__description .card__text {
				text-align: center;
				font-family: 'Open Sans', sans-serif;
				color: #545569;
				line-height: 24px;
				margin-left: 108px;
				margin-right: 108px;
			}
			.testimonials__list {
				display: flex;
				gap: 10px;
				
			}
			.list__item {
				width: 30px;
				height: 5px;
				background-color: #e4e7ec;
			}
			.list__item:nth-child(3) {
				
				background-color: #4791ec;
			}
			.main__item:nth-child(4) {
				padding-bottom: 32px;
				margin-bottom: 0px;
			}
			.main__item:nth-child(3) {
				margin-bottom: 32px;
			}
			.main__item:nth-child(4) {
				padding-bottom: 64px;
			}
			.card__information .card__title .title__text {
				font-size: 31.25px;
			}
		
}
@media only screen
	and (min-device-width: 992px)
	and (max-device-width: 1199px) {
		.main__portfolio .main__title {
			padding-top: 78px;
		}
		.main__portfolio .main__subtitle {
			margin-left: 219px;
			margin-right: 219px;
		}
		.portfolio__rows {
			margin-top: 40px;
			background-color: #f1f2f5;
			margin-left: 137px;
			margin-right: 137px;
			margin-bottom: 40px;
		}
		.portfolio__images {
			display: flex;
			justify-content: center;
		}
		.portfolio__row {
			display: flex;
			
			row-gap: 20.5px;
			column-gap: 32px;
			justify-content: center;
			margin-right: 70px;
			margin-left: 70px;
		}
		.row__item:first-child {
			margin-left: 13.5px;
			margin-top: 16px;
			border-bottom: 4px solid #2084ff;
			padding-bottom: 16px;
		}
		.row__item:first-child .row__text {
			font-weight: bold;
		}
		.row__text {
			font-family: 'Open Sans', sans-serif;
			color: #313244;
		}
		.row__item:nth-child(2) {
			margin-top: 16px;
		}
		.row__item:nth-child(3) {
			margin-top: 16px;
		}
		.row__item:nth-child(4) {
			margin-right: 13.5px;
			margin-top: 16px;
		}
		.row__item:nth-child(5) {
			margin-bottom: 20.5px;
			margin-top: 16px;
		}
		.row__item:nth-child(6) {
			margin-bottom: 20.5px;
			margin-top: 16px;
		}
		.row__item:nth-child(7) {
			margin-bottom: 20.5px;
			margin-top: 16px;
		}
		.portfolio__img-tablet {
			display: none;
		}
		.portfolio__img  {
			display: none;
		}
		.portfolio__img-desktop {
			display: block;
			max-width: 900px;
			height: 900px;
		}
		.portfolio__btn {
			display: flex;
			justify-content: center;
			background-color: #e4e7ec;
			margin-left: 335px;
			margin-right: 335px;
			margin-top: 64px;
			padding-top: 14px;
			padding-bottom: 14px;
			text-decoration: none;
			border-radius: 5px;
		}
		.portfolio__btn .btn__text {
			font-size: 20px;
			
		}
		.main__item:nth-child(3) {
			padding-bottom: 64px;
		}
		/* -------------------------------------------TESTIMONIALS---------------------------- */
		.main__testimonials .main__title {
			padding-top: 64px;
			
		}
		.main__testimonials .card__title {
			margin-bottom: 10px;
			margin-top: 20px;
		}
		.main__testimonials .subtitle {
			line-height: 24px;
			margin-left: 150px;
			margin-right: 150px;
		}
		.main__testimonials .subtitle__text {
			
			font-family: 'Open Sans', sans-serif;
			color: #545569;
			font-weight: bold;
			
		}
		.main__testimonials .card__subtitle {
			margin-bottom: 15px;
			padding-left: 0px;
			padding-right: 0px;
			
		}
		.main__testimonials {
			
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
		}
		.card__img-container {
			padding-top: 37px;
			position: absolute;
			top: 200px;
		}
		.card__information {
			background-color: #f1f2f5;
			padding-right: 24px;
			padding-left: 24px;
			padding-bottom: 40px;
			padding-top: 80px;
			margin-top: -80px;
		}
		.testimonials__card {
			display: flex;
			flex-direction: row;
			align-items: center;
			column-gap: 24px;
			padding-top: 80px;
			margin-top: 125px;
			padding-bottom: 40px;
			margin-left: 64px;
			margin-right: 64px;
			justify-content: space-between;
		}
		
		.card__description .card__text {
			text-align: center;
			font-family: 'Open Sans', sans-serif;
			color: #545569;
			line-height: 24px;
			margin-left: 108px;
			margin-right: 108px;
		}
		.testimonials__list {
			display: flex;
			gap: 10px;
			
		}
		.list__item {
			width: 30px;
			height: 5px;
			background-color: #e4e7ec;
		}
		.list__item:nth-child(3) {
			
			background-color: #4791ec;
		}
		.main__item:nth-child(4) {
			padding-bottom: 32px;
			margin-bottom: 0px;
		}
		.main__item:nth-child(3) {
			margin-bottom: 32px;
		}
		.main__item:nth-child(4) {
			padding-bottom: 64px;
		}
		.card__information .card__title .title__text {
			font-size: 31.25px;
		}
}
@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 991px) {
		.main__portfolio .main__title {
			padding-top: 64px;
		}
		.main__portfolio .main__subtitle {
			margin-left: 64px;
			margin-right: 64px;
		}
		.portfolio__rows {
			margin-top: 40px;
			background-color: #f1f2f5;
			margin-left: 137px;
			margin-right: 137px;
			margin-bottom: 40px;
		}
		.portfolio__images {
			display: flex;
			justify-content: center;
		}
		.portfolio__row {
			display: flex;
			flex-wrap: wrap;
			row-gap: 20.5px;
			column-gap: 32px;
			justify-content: center;
			margin-right: 70px;
			margin-left: 70px;
		}
		.row__item:first-child {
			margin-left: 13.5px;
			margin-top: 16px;
			border-bottom: 4px solid #2084ff;
			padding-bottom: 16px;
		}
		.row__item:first-child .row__text {
			font-weight: bold;
		}
		.row__text {
			font-family: 'Open Sans', sans-serif;
			color: #313244;
		}
		.row__item:nth-child(2) {
			margin-top: 16px;
		}
		.row__item:nth-child(3) {
			margin-top: 16px;
		}
		.row__item:nth-child(4) {
			margin-right: 13.5px;
			margin-top: 16px;
		}
		.row__item:nth-child(5) {
			margin-bottom: 20.5px;
			
		}
		.row__item:nth-child(6) {
			margin-bottom: 20.5px;
		}
		.row__item:nth-child(7) {
			margin-bottom: 20.5px;
		}
		.portfolio__img-tablet {
			display: block;
		}
		.portfolio__img  {
			display: none;
		}
		.portfolio__img-desktop {
			display: none;
		}
		.portfolio__btn {
			display: flex;
			justify-content: center;
			background-color: #e4e7ec;
			margin-left: 240px;
			margin-right: 240px;
			margin-top: 64px;
			padding-top: 14px;
			padding-bottom: 14px;
			text-decoration: none;
			border-radius: 5px;
		}
		.portfolio__btn .btn__text {
			font-size: 20px;
			
		}
		.main__item:nth-child(3) {
			padding-bottom: 64px;
		}
		/* -------------------------------------------TESTIMONIALS---------------------------- */
		.main__testimonials .main__title {
			padding-top: 64px;
			
		}
		.main__testimonials .card__title {
			margin-bottom: 10px;
			margin-top: 20px;
		}
		.main__testimonials .subtitle {
			line-height: 24px;
			margin-left: 64px;
			margin-right: 64px;
		}
		.main__testimonials .subtitle__text {
			
			font-family: 'Open Sans', sans-serif;
			color: #545569;
			font-weight: bold;
			
		}
		.main__testimonials .card__subtitle {
			margin-bottom: 15px;
			padding-left: 0px;
			padding-right: 0px;
			
		}
		.card__information .card__title .title__text {
			font-size: 25px;
		}
		.main__testimonials {
			
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
		}
		.card__img-container {
			padding-top: 37px;
			position: absolute;
			top: 200px;
		}
		.card__information {
			background-color: #f1f2f5;
			padding-right: 24px;
			padding-left: 24px;
			padding-bottom: 40px;
			padding-top: 80px;
			margin-top: -40px;
		}
		.testimonials__card {
			display: flex;
			flex-direction: row;
			align-items: center;
			column-gap: 24px;
			padding-top: 80px;
			margin-top: 90px;
			padding-bottom: 40px;
			margin-left: 24px;
			margin-right: 24px;
			justify-content: space-between;
		}
		
		.card__description .card__text {
			text-align: center;
			font-family: 'Open Sans', sans-serif;
			color: #545569;
			line-height: 24px;
		}
		.testimonials__list {
			display: flex;
			gap: 10px;
			
		}
		.list__item {
			width: 30px;
			height: 5px;
			background-color: #e4e7ec;
		}
		.list__item:nth-child(3) {
			
			background-color: #4791ec;
		}
		.main__item:nth-child(4) {
			padding-bottom: 32px;
			margin-bottom: 0px;
		}
		.main__item:nth-child(3) {
			margin-bottom: 32px;
		}
		.main__item:nth-child(4) {
			padding-bottom: 64px;
		}
		.card__information .card__title .title__text {
			font-size: 25px;
		}
}
@media only screen
	and (min-device-width: 576px)
	and (max-device-width: 767px) {
		.main__portfolio .main__title {
			padding-top: 44px;
		}
		.main__portfolio .main__subtitle {
			margin-left: 44px;
			margin-right: 44px;
		}
		.portfolio__rows {
			margin-top: 40px;
			background-color: #f1f2f5;
			margin-left: 80px;
			margin-right: 80px;
			margin-bottom: 40px;
		}
		.portfolio__images {
			display: flex;
			justify-content: center;
		}
		.portfolio__row {
			display: flex;
			flex-wrap: wrap;
			row-gap: 20.5px;
			column-gap: 32px;
			justify-content: center;
		}
		.row__item:first-child {
			margin-left: 13.5px;
			margin-top: 16px;
			border-bottom: 4px solid #2084ff;
			padding-bottom: 16px;
		}
		.row__item:first-child .row__text {
			font-weight: bold;
		}
		.row__text {
			font-family: 'Open Sans', sans-serif;
			color: #313244;
		}
		.row__item:nth-child(2) {
			margin-top: 16px;
		}
		.row__item:nth-child(3) {
			margin-top: 16px;
		}
		.row__item:nth-child(4) {
			margin-right: 13.5px;
			margin-top: 16px;
		}
		.row__item:nth-child(5) {
			margin-bottom: 20.5px;
			
		}
		.row__item:nth-child(6) {
			margin-bottom: 20.5px;
		}
		.row__item:nth-child(7) {
			margin-bottom: 20.5px;
		}
		.portfolio__img-tablet {
			display: none;
		}
		.portfolio__img-desktop {
			display: none;
		}
		.portfolio__btn {
			display: flex;
			justify-content: center;
			background-color: #e4e7ec;
			margin-left: 120px;
			margin-right: 120px;
			margin-top: 32px;
			padding-top: 14px;
			padding-bottom: 14px;
			text-decoration: none;
			border-radius: 5px;
		}
		.portfolio__btn .btn__text {
			font-size: 20px;
			
		}
		.main__item:nth-child(3) {
			padding-bottom: 46px;
		}
		/* -------------------------------------------TESTIMONIALS---------------------------- */
		.main__testimonials .main__title {
			padding-top: 32px;
			
		}
		.main__testimonials .card__title {
			margin-bottom: 0px;
			margin-top: 10px;
		}
		.main__testimonials .subtitle {
			line-height: 24px;
			
		}
		.main__testimonials .subtitle__text {
			
			font-family: 'Open Sans', sans-serif;
			color: #545569;
			font-weight: bold;
			
		}
		.main__testimonials .card__subtitle {
			margin-bottom: 15px;
			padding-left: 0px;
			padding-right: 0px;
			
		}
		.main__testimonials {
			margin-left: 16px;
			margin-right: 16px;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
		}
		.card__img-container {
			padding-top: 37px;
			position: absolute;
			top: 180px;
		}
		
		.testimonials__card {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #f1f2f5;
			padding-top: 80px;
			margin-top: 110px;
			padding-bottom: 40px;
		}
		.card__description {
			margin-left: 24px;
			margin-right: 24px;
		}
		.card__description .card__text {
			text-align: center;
			font-family: 'Open Sans', sans-serif;
			color: #545569;
			line-height: 24px;
		}
		.testimonials__list {
			display: flex;
			gap: 10px;
			margin-top: 16px;
		}
		.list__item {
			width: 30px;
			height: 5px;
			background-color: #e4e7ec;
		}
		.list__item:nth-child(3) {
			
			background-color: #4791ec;
		}
		.main__item:nth-child(4) {
			padding-bottom: 32px;
		}
		.card__btn-container {
			display: none;
		}
		.card__information .card__title .title__text {
			font-size: 25px;
		}
}
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 575px) {
		.main__portfolio .main__title {
			padding-top: 32px;
		}
		.main__portfolio .main__subtitle {
			margin-left: 16px;
			margin-right: 16px;
		}
		.portfolio__rows {
			margin-top: 40px;
			background-color: #f1f2f5;
			margin-left: 16px;
			margin-right: 16px;
			margin-bottom: 40px;
		}
		.portfolio__images {
			display: flex;
			justify-content: center;
		}
		.portfolio__row {
			display: flex;
			flex-wrap: wrap;
			row-gap: 20.5px;
			column-gap: 32px;
			justify-content: center;
		}
		.row__item:first-child {
			margin-left: 13.5px;
			margin-top: 16px;
			border-bottom: 4px solid #2084ff;
			padding-bottom: 16px;
		}
		.row__item:first-child .row__text {
			font-weight: bold;
		}
		.row__text {
			font-family: 'Open Sans', sans-serif;
			color: #313244;
		}
		.row__item:nth-child(2) {
			margin-top: 16px;
		}
		.row__item:nth-child(3) {
			margin-top: 16px;
		}
		.row__item:nth-child(4) {
			margin-right: 13.5px;
			margin-top: 16px;
		}
		.row__item:nth-child(5) {
			margin-bottom: 20.5px;
			
		}
		.row__item:nth-child(6) {
			margin-bottom: 20.5px;
		}
		.row__item:nth-child(7) {
			margin-bottom: 20.5px;
		}
		.portfolio__btn {
			display: flex;
			justify-content: center;
			background-color: #e4e7ec;
			margin-left: 58px;
			margin-right: 58px;
			margin-top: 32px;
			padding-top: 14px;
			padding-bottom: 14px;
			text-decoration: none;
			border-radius: 5px;
		}
		.portfolio__btn .btn__text {
			font-size: 20px;
			
		}
		.main__item:nth-child(3) {
			padding-bottom: 46px;
		}
		.portfolio__img-tablet {
			display: none;
		}
		.portfolio__img-desktop {
			display: none;
		}
		/* -------------------------------------------TESTIMONIALS---------------------------- */
		.main__testimonials .main__title {
			padding-top: 32px;
			
		}
		.main__testimonials .card__title {
			margin-bottom: 0px;
			margin-top: 10px;
		}
		.main__testimonials .subtitle {
			line-height: 24px;
			max-width: 311px;
		}
		.main__testimonials .subtitle__text {
			
			font-family: 'Open Sans', sans-serif;
			color: #545569;
			font-weight: bold;
			
		}
		.main__testimonials .card__subtitle {
			margin-bottom: 15px;
			padding-left: 0px;
			padding-right: 0px;
			
		}
		.main__testimonials {
			margin-left: 16px;
			margin-right: 16px;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
		}
		.card__img-container {
			padding-top: 37px;
			position: absolute;
			top: 210px;
		}
		
		.testimonials__card {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #f1f2f5;
			padding-top: 80px;
			margin-top: 90px;
			padding-bottom: 40px;
		}
		.card__description {
			margin-left: 24px;
			margin-right: 24px;
		}
		.card__description .card__text {
			text-align: center;
			font-family: 'Open Sans', sans-serif;
			color: #545569;
			line-height: 24px;
		}
		.testimonials__list {
			display: flex;
			gap: 10px;
			margin-top: 16px;
		}
		.list__item {
			width: 30px;
			height: 5px;
			background-color: #e4e7ec;
		}
		.list__item:nth-child(3) {
			
			background-color: #4791ec;
		}
		.main__item:nth-child(4) {
			padding-bottom: 32px;
		}
		.card__btn-container {
			display: none;
		}
}
@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 374px) {
		.main__portfolio .main__title {
			padding-top: 32px;
		}
		.main__portfolio .main__subtitle {
			margin-left: 16px;
			margin-right: 16px;
		}
		.portfolio__rows {
			margin-top: 40px;
			background-color: #f1f2f5;
			margin-left: 16px;
			margin-right: 16px;
			margin-bottom: 40px;
		}
		.portfolio__images {
			display: flex;
			justify-content: center;
		}
		.portfolio__row {
			display: flex;
			flex-wrap: wrap;
			row-gap: 20.5px;
			column-gap: 12px;
			justify-content: center;
		}
		.row__item:first-child {
			margin-left: 13.5px;
			margin-top: 16px;
			border-bottom: 4px solid #2084ff;
			padding-bottom: 16px;
		}
		.row__item:first-child .row__text {
			font-weight: bold;
		}
		.row__text {
			font-family: 'Open Sans', sans-serif;
			color: #313244;
		}
		.row__item:nth-child(2) {
			margin-top: 16px;
		}
		.row__item:nth-child(3) {
			margin-top: 16px;
		}
		.row__item:nth-child(4) {
			margin-right: 13.5px;
			margin-top: 16px;
		}
		.row__item:nth-child(5) {
			margin-bottom: 20.5px;
			
		}
		.row__item:nth-child(6) {
			margin-bottom: 20.5px;
		}
		.row__item:nth-child(7) {
			margin-bottom: 20.5px;
		}
		.portfolio__btn {
			display: flex;
			justify-content: center;
			background-color: #e4e7ec;
			margin-left: 50px;
			margin-right: 50px;
			margin-top: 32px;
			padding-top: 14px;
			padding-bottom: 14px;
			text-decoration: none;
			border-radius: 5px;
		}
		.portfolio__btn .btn__text {
			font-size: 20px;
			
		}
		.main__item:nth-child(3) {
			padding-bottom: 32px;
			margin-bottom: 0px;
		}
		.portfolio__img {
			max-width: 298px;
		}
		.portfolio__img-tablet {
			display: none;
		}
		.portfolio__img-desktop {
			display: none;
		}
		/* ---------------------------------------Testimonials------------------------- */
		.main__testimonials .main__title {
			padding-top: 32px;
			
		}
		
		.main__testimonials .card__title {
			margin-bottom: 0px;
			margin-top: 30px;
		}
		.main__testimonials .subtitle {
			line-height: 24px;
			width: 311px;
			padding-left: 16px;
			padding-right: 16px;
		}
		.main__testimonials .subtitle__text {
			
			font-family: 'Open Sans', sans-serif;
			color: #545569;
			font-weight: bold;
			
		}
		.main__testimonials .card__subtitle {
			margin-bottom: 15px;
			padding-left: 0px;
			padding-right: 0px;
			
		}
		
		.main__testimonials {
			margin-left: 16px;
			margin-right: 16px;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
		}
		.card__img-container {
			padding-top: 37px;
			position: absolute;
			top: 235px;
		}
		
		.testimonials__card {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #f1f2f5;
			padding-top: 80px;
			margin-top: 90px;
			padding-bottom: 40px;
			width: 270px;
		}
		.card__description {
			margin-left: 24px;
			margin-right: 24px;
		}
		.card__description .card__text {
			text-align: center;
			font-family: 'Open Sans', sans-serif;
			color: #545569;
			line-height: 24px;
		}
		.testimonials__list {
			display: flex;
			gap: 10px;
			margin-top: 16px;
		}
		.list__item {
			width: 30px;
			height: 5px;
			background-color: #e4e7ec;
		}
		.list__item:nth-child(3) {
			
			background-color: #4791ec;
		}
		.main__item:nth-child(4) {
			margin-top: 16px;
			padding-bottom: 32px;
			margin-bottom: 0px;
		}
		.card__btn-container {
			display: none;
		}
}
